# https://docs.docker.com/build/concepts/context/#dockerignore-files

# Python
# ------

__pycache__
*.pyc
*.pyo
*.pyd
.venv

# Project
# -------

.git
.dockerignore
.editorconfig
.gitignore
docker-compose.*
Dockerfile
README.md
